.bg {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card {
  border: 1px solid #000000;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
}
.card1 {
  border: 1px solid #000000;
  background-color: #000000;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
}

.button {
  height: 40px;
  padding: 10px;
}

.heading {
  color: #000000;
}
.heading1 {
  color: #ffffff;
}
